<template>
  <ul class="toolbar__nav-list">
    <li class="toolbar__nav-list-item">
      <ToolbarFontFamilySelect
        :fonts="fonts"
        :selected-font="selectedFont"
        @onSelectFont="onSelectFont"
      />
    </li>
    <li class="toolbar__nav-list-item">
      <ToolbarFontSizeControl
        :fontSizes="fontSizes"
        :selected-font-size="selectedFontSize"
        @onSelectFontSize="onSelectFontSize"
      />
    </li>
    <li class="toolbar__nav-list-item">
      <ToolbarColorPicker @onSelectColor="onSelectColor" />
    </li>
  </ul>
</template>

<script>
import ToolbarFontFamilySelect from './includes/ToolbarFontFamilySelect'
import ToolbarColorPicker from './includes/ToolbarColorPicker'
import ToolbarFontSizeControl from './includes/ToolbarFontSizeControl'
import { mapState, mapActions } from 'vuex'

export default {
  name: 'ToolbarTextStyleControl',
  components: {
    ToolbarFontFamilySelect,
    ToolbarColorPicker,
    ToolbarFontSizeControl,
  },
  computed: {
    ...mapState('editorTextStyle', [
      'fonts',
      'selectedFont',
      'fontSizes',
      'selectedFontSize',
    ]),
  },
  methods: {
    onSelectFont(font) {
      this.setFont(font)
    },
    onSelectColor(color) {
      this.setTextColor(color)
    },
    onSelectFontSize(fontSize) {
      this.setFontSize(fontSize)
    },
    ...mapActions('editorTextStyle', [
      'setFont',
      'setTextColor',
      'setFontSize',
    ]),
  },
}
</script>
