<template>
  <ul class="toolbar__nav-list">
    <li class="toolbar__nav-list-item">
      <ToolbarButton
        icon="align-left"
        title="Left align (Ctrl+Shift+L)"
        :is-active="selectedAlign('left')"
        @click="toggleTextAlign('left')"
      />
    </li>
    <li class="toolbar__nav-list-item">
      <ToolbarButton
        icon="align-center"
        title="Center align (Ctrl+Shift+E)"
        :is-active="selectedAlign('center')"
        @click="toggleTextAlign('center')"
      />
    </li>
    <li class="toolbar__nav-list-item">
      <ToolbarButton
        icon="align-right"
        title="Right align (Ctrl+Shift+R)"
        :is-active="selectedAlign('right')"
        @click="toggleTextAlign('right')"
      />
    </li>
    <li class="toolbar__nav-list-item">
      <ToolbarButton
        icon="align-justify"
        title="Justify (Ctrl+Shift+J)"
        :is-active="selectedAlign('justify')"
        @click="toggleTextAlign('justify')"
      />
    </li>
  </ul>
</template>

<script>
import ToolbarButton from './includes/ToolbarButton'
import { mapState, mapActions } from 'vuex'

export default {
  name: 'ToolbarTextAlignControl',
  components: {
    ToolbarButton,
  },
  computed: {
    ...mapState('editorTextAlign', ['align']),
  },
  methods: {
    toggleTextAlign(align) {
      this.setTextAlign(!this.selectedAlign(align) && align)
    },
    selectedAlign(align) {
      return align === this.align
    },
    ...mapActions('editorTextAlign', ['setTextAlign']),
  },
}
</script>
