<template>
  <ul class="toolbar__nav-list">
    <li class="toolbar__nav-list-item">
      <ToolbarButton
        icon="bold"
        title="Bold (Ctrl+B)"
        :is-active="selectedFontWeight('bold')"
        @click="toggleFontWeight('bold')"
      />
    </li>
    <li class="toolbar__nav-list-item">
      <ToolbarButton
        icon="italic"
        title="Italic (Ctrl+I)"
        :is-active="selectedFontStyle('italic')"
        @click="toggleFontStyle('italic')"
      />
    </li>
    <li class="toolbar__nav-list-item">
      <ToolbarButton
        icon="underline"
        title="Underline (Ctrl+U)"
        :is-active="selectedTextDecoration('underline')"
        @click="toggleTextDecoration('underline')"
      />
    </li>
  </ul>
</template>

<script>
import ToolbarButton from './includes/ToolbarButton'
import { mapState, mapActions } from 'vuex'

export default {
  name: 'ToolbarTextFormattingControl',
  components: {
    ToolbarButton,
  },
  computed: {
    ...mapState('editorTextFormatting', [
      'fontWeight',
      'fontStyle',
      'textDecoration',
    ]),
  },
  methods: {
    toggleFontWeight(weight) {
      this.setFontWeight(!this.selectedFontWeight(weight) && weight)
    },
    selectedFontWeight(weight) {
      return weight === this.fontWeight
    },
    toggleFontStyle(style) {
      this.setFontStyle(!this.selectedFontStyle(style) && style)
    },
    selectedFontStyle(style) {
      return style === this.fontStyle
    },
    toggleTextDecoration(style) {
      this.setTextDecoration(!this.selectedTextDecoration(style) && style)
    },
    selectedTextDecoration(style) {
      return style === this.textDecoration
    },
    ...mapActions('editorTextFormatting', [
      'setFontWeight',
      'setFontStyle',
      'setTextDecoration',
    ]),
  },
}
</script>
