<template>
  <ul class="toolbar__nav-list">
    <li class="toolbar__nav-list-item">
      <ToolbarUploadImageSelect @onSelectImage="onSelectImage" />
    </li>
  </ul>
</template>

<script>
import ToolbarUploadImageSelect from './includes/ToolbarUploadImageSelect'
import { mapActions } from 'vuex'

export default {
  name: 'ToolbarMediaControl',
  components: {
    ToolbarUploadImageSelect,
  },
  methods: {
    onSelectImage(imageUrl) {
      this.setImage(imageUrl)
    },
    ...mapActions('editorMedia', ['setImage']),
  },
}
</script>
