* {
  box-sizing: border-box;
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

html {
  font-size: 100%;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-rendering: optimizeSpeed;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  &.is-dark {
    filter: invert(100%) contrast(90%) hue-rotate(180deg);
  }
}

img,
iframe {
  margin: auto;
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a,
input,
button {
  &:focus {
    text-decoration: none;
  }
}

a,
area,
button,
[role='button'],
label,
select,
summary,
textarea {
  touch-action: manipulation;
}

input {
  &:not([type='range']) {
    touch-action: manipulation;
  }
}
