<template>
  <div class="editor">
    <toolbar />
    <paper />
  </div>
</template>

<script>
import Paper from './base/Paper'
import Toolbar from './base/Toolbar'
import { mapState, mapActions } from 'vuex'

export default {
  name: 'Editor',
  components: {
    Paper,
    Toolbar,
  },
  computed: {
    ...mapState('editorTextAlign', ['align']),
    ...mapState('editorTextFormatting', [
      'fontWeight',
      'fontStyle',
      'textDecoration',
    ]),
  },
  methods: {
    onKeyDown(event) {
      const isCtrlShiftKeysCombination = () => event.ctrlKey && event.shiftKey
      const isCtrlKeysCombination = () => event.ctrlKey

      switch (true) {
        case isCtrlShiftKeysCombination():
          this.controlTextAlign(event)
          break
        case isCtrlKeysCombination():
          this.controlTextFormatting(event)
          break
        default:
          break
      }
    },
    controlTextAlign(event) {
      switch (event.keyCode) {
        case 76:
          event.preventDefault()
          this.toggleTextAlign('left')
          break
        case 69:
          event.preventDefault()
          this.toggleTextAlign('center')
          break
        case 82:
          event.preventDefault()
          this.toggleTextAlign('right')
          break
        case 74:
          event.preventDefault()
          this.toggleTextAlign('justify')
          break
        default:
          break
      }
    },
    controlTextFormatting(event) {
      switch (event.keyCode) {
        case 66:
          event.preventDefault()
          this.toggleFontWeight('bold')
          break
        case 73:
          event.preventDefault()
          this.toggleFontStyle('italic')
          break
        case 85:
          event.preventDefault()
          this.toggleTextDecoration('underline')
          break
        default:
          break
      }
    },
    toggleTextAlign(align) {
      this.setTextAlign(align !== this.align && align)
    },
    toggleFontWeight(weight) {
      this.setFontWeight(weight !== this.fontWeight && weight)
    },
    toggleFontStyle(style) {
      this.setFontStyle(style !== this.fontStyle && style)
    },
    toggleTextDecoration(style) {
      this.setTextDecoration(style !== this.textDecoration && style)
    },
    ...mapActions('editorTextAlign', ['setTextAlign']),
    ...mapActions('editorTextFormatting', [
      'setFontWeight',
      'setFontStyle',
      'setTextDecoration',
    ]),
  },
}
</script>

<style lang="scss" scoped>
.editor {
  display: flex;
  flex-direction: column;
  align-items: center;
}
</style>
