<template>
  <div
    ref="paper"
    class="paper"
    :class="{ 'is-with-insert-helper': insertImageHelper }"
    contenteditable
    :style="editorStyles"
    @paste="onPaste"
    v-on="eventsListener"
    data-insert-image-place-helper-text="Click where you want to insert image (or press Insert to place image at the end of content)"
  ></div>
</template>

<script>
import { mapState, mapActions } from 'vuex'

export default {
  name: 'Paper',
  data: () => ({
    insertImageHelper: false,
  }),
  computed: {
    editorStyles() {
      return this.getEditorStyles()
    },
    eventsListener() {
      return Object.assign({}, this.$listeners)
    },
    ...mapState('editorTextStyle', [
      'selectedFont',
      'textColor',
      'selectedFontSize',
    ]),
    ...mapState('editorTextAlign', ['align']),
    ...mapState('editorTextFormatting', [
      'fontWeight',
      'fontStyle',
      'textDecoration',
    ]),
    ...mapState('editorMedia', ['image']),
  },
  watch: {
    image(value) {
      if (value) this.listenImageInsertClick(true)
    },
  },
  methods: {
    getEditorStyles() {
      const fontFamily = `font-family: ${this.selectedFont.name}`
      const fontWeight = `font-weight: ${this.fontWeight}`
      const fontStyle = `font-style: ${this.fontStyle}`
      const fontSize = `font-size: ${this.selectedFontSize}px`
      const textColor = `color: ${this.textColor}`
      const textAlign = `text-align: ${this.align}`
      const textDecoration = `text-decoration: ${this.textDecoration}`

      return `${fontFamily}; ${fontWeight}; ${fontStyle}; ${fontSize}; ${textColor}; ${textAlign}; ${textDecoration};`
    },
    onPaste(event) {
      event.preventDefault()
      const pastedText = (event.originalEvent || event).clipboardData.getData(
        'text/plain'
      )

      document.execCommand('insertHTML', false, pastedText)
    },
    listenImageInsertClick(state) {
      if (state) {
        this.toggleInsertImageHelper(true)
        this.$refs.paper.addEventListener(
          'click',
          this.insertImageToCaretPosition
        )
        document.addEventListener('keydown', this.insertImageToCaretPosition)
      } else {
        this.toggleInsertImageHelper(false)
        this.$refs.paper.removeEventListener(
          'click',
          this.insertImageToCaretPosition
        )
      }
    },
    toggleInsertImageHelper(state) {
      this.insertImageHelper = state
    },
    insertImageToCaretPosition(e) {
      e.preventDefault()
      console.log(e.keyCode)
      const selection = document.getSelection()
      const range = selection.getRangeAt(0)
      const imageElement = document.createElement('img')

      imageElement.setAttribute('src', this.image)
      range.insertNode(imageElement)
      selection.removeAllRanges()
      selection.addRange(range)
      this.listenImageInsertClick(false)
      this.setImage()
    },
    ...mapActions('editorMedia', ['setImage']),
  },
}
</script>

<style lang="scss" scoped>
.paper {
  $self: &;
  position: relative;
  width: 595px;
  height: 842px;
  padding: 20px 15px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.6);
  overflow: hidden;
  &.is-with-insert-helper {
    &::before {
      content: attr(data-insert-image-place-helper-text);
      @include df;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      padding: 10px 110px;
      background-color: rgba(255, 255, 255, 0.4);
      color: $text-dark;
      @include font-size(20px);
      font-family: 'Roboto Slab', serif;
      font-weight: 400;
      line-height: 1.2;
      text-align: center;
      animation: bounce 2s infinite cubic-bezier(0.28, 0.84, 0.42, 1);
    }
    @keyframes bounce {
      0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.1);
      }
      100% {
        transform: scale(1);
      }
    }
  }
  &:focus {
    outline: none;
  }
}
</style>
