<template>
  <div class="toolbar">
    <nav class="toolbar__nav">
      <ToolbarTextStyleControl />
      <ToolbarTextFormattingControl />
      <ToolbarTextAlignControl />
      <ToolbarMediaControl />
    </nav>
  </div>
</template>

<script>
import ToolbarTextAlignControl from '@/components/editor/controls/ToolbarTextAlignControl'
import ToolbarTextFormattingControl from '@/components/editor/controls/ToolbarTextFormattingControl'
import ToolbarTextStyleControl from '@/components/editor/controls/ToolbarTextStyleControl'
import ToolbarMediaControl from '@/components/editor/controls/ToolbarMediaControl'

export default {
  name: 'Toolbar',
  components: {
    ToolbarTextAlignControl,
    ToolbarTextFormattingControl,
    ToolbarTextStyleControl,
    ToolbarMediaControl,
  },
}
</script>

<style lang="scss" scoped>
.toolbar {
  position: relative;
  margin-bottom: 20px;
  z-index: 1;
  &__nav {
    display: flex;
    &-list {
      $self: &;
      display: flex;
      align-items: center;
      border-left: 1px solid $info;
      border-right: 1px solid $info;
      &:not(:first-of-type) {
        border-left: 0;
      }
      &/deep/ {
        #{$self}-item {
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    }
  }
}
</style>
