<template>
  <header class="header">
    <div class="wrap wrap--fluid">
      <div class="header__container">
        <router-link :to="{ name: 'home' }" class="header__logo">
          <h1 class="header__logo-title">Text Editor</h1>
        </router-link>
      </div>
    </div>
  </header>
</template>

<script>
export default {
  name: 'Header',
}
</script>

<style lang="scss" scoped>
.header {
  background-color: $white;
  box-shadow: 0 0 38px -12px rgba(0, 0, 0, 0.56);
  &__container {
    display: flex;
    align-items: center;
    height: 52px;
  }
  &__logo {
    color: $primary;
    &-title {
      font-family: 'Roboto Slab', serif;
      font-weight: 100;
    }
  }
}
</style>
