// Palette
$black: #000;
$white: #fff;
$primary: #9699a1;
$secondary: #7F4881;
$info: #2d4657;
$success: #62a868;
$warning: #e09830;
$danger: #f44336;
$light: #F3F1F6;
$text-dark: #2C1A34;

// Vars
$breakpoints: (
  "horizontal": (
    "xs": 375px,
    "sm": 480px,
    "tb": 600px,
    "md": 768px,
    "lg": 1024px,
    "xl": 1280px,
    "lt": 1440px,
    "hd": 1680px,
    "fhd": 1920px,
  ),
  "vertical": (
    "xs": 300px,
    "sm": 450px,
    "md": 600px,
    "lg": 750px,
    "xl": 900px,
  )
);
