<template>
  <div class="picker" title="Text color">
    <div ref="picker"></div>
  </div>
</template>

<script>
import Pickr from '@simonwep/pickr'
import '@simonwep/pickr/dist/themes/nano.min.css'
import { debounce } from '@/utils/events'

export default {
  name: 'ToolbarColorPicker',
  data: () => ({
    picker: null,
    color: '',
  }),
  computed: {
    onColorChange: function() {
      return debounce(this.setConvertedColor, 500)
    },
  },
  watch: {
    color(value) {
      if (value) this.emitSelectColor()
    },
  },
  mounted() {
    this.$nextTick(() => this.initPicker())
  },
  methods: {
    initPicker() {
      this.picker = Pickr.create({
        el: this.$refs.picker,
        theme: 'nano',
        closeOnScroll: true,
        comparison: false,
        swatches: [
          'rgba(244, 67, 54, 1)',
          'rgba(233, 30, 99, 0.95)',
          'rgba(156, 39, 176, 0.9)',
          'rgba(103, 58, 183, 0.85)',
          'rgba(63, 81, 181, 0.8)',
          'rgba(33, 150, 243, 0.75)',
          'rgba(3, 169, 244, 0.7)',
          'rgba(0, 188, 212, 0.7)',
          'rgba(0, 150, 136, 0.75)',
          'rgba(76, 175, 80, 0.8)',
          'rgba(139, 195, 74, 0.85)',
          'rgba(205, 220, 57, 0.9)',
          'rgba(255, 235, 59, 0.95)',
          'rgba(255, 193, 7, 1)',
        ],
        components: {
          preview: true,
          opacity: true,
          hue: true,
          interaction: {
            hex: false,
            rgba: false,
            hsla: false,
            hsva: false,
            cmyk: false,
            input: true,
            clear: false,
            save: false,
            cancel: false,
          },
        },
      })
      this.picker
        .on('init', () => this.setConvertedColor())
        .on('swatchselect', () => this.setConvertedColor())
        .on('change', () => this.onColorChange())
    },
    setConvertedColor() {
      this.color = this.convertColorToRGBA(this.picker.getColor())
    },
    convertColorToRGBA(color) {
      return color.toRGBA().toString()
    },
    emitSelectColor() {
      this.$emit('onSelectColor', this.color)
    },
  },
}
</script>

<style lang="scss" scoped>
.picker {
  height: 24px;
  width: 24px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
  & /deep/ {
    .pickr {
      height: 100%;
      width: 100%;
      .pcr-button {
        width: 100%;
        height: 100%;
      }
    }
  }
}
</style>
