<template>
  <div ref="select" class="select" :class="{ 'is-open': dropdownOpen }">
    <input
      type="number"
      class="select__input"
      :min="input.min"
      :max="input.max"
      :value="selectedFontSize"
      title="Font size"
      @input="onInput"
      @focus="onInputFocus"
      @blur="onInputBlur"
    />
    <div class="select__dropdown">
      <ul class="select__dropdown-list">
        <li
          v-for="(fontSize, index) in fontSizes"
          :key="index"
          class="select__dropdown-list-item"
        >
          <button
            class="select__dropdown-btn"
            :class="{ 'is-active': isSelectedFontSize(fontSize) }"
            @click="selectFontSize(fontSize)"
          >
            {{ fontSize }}
          </button>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ToolbarFontSizeControl',
  props: {
    fontSizes: {
      type: Array,
      default: () => [],
    },
    selectedFontSize: Number,
  },
  data: () => ({
    dropdownOpen: false,
    input: {
      min: 8,
      max: 400,
      focus: false,
    },
  }),
  computed: {
    isInputFocused() {
      return this.input.focus
    },
  },
  watch: {
    dropdownOpen(state) {
      this.clickOutsideDropdownListener(state)
    },
  },
  methods: {
    toggleDropdown(state) {
      this.dropdownOpen = state
    },
    clickOutsideDropdownListener(action) {
      action
        ? document.addEventListener('click', this.clickOutsideDropdownHandler)
        : document.removeEventListener(
            'click',
            this.clickOutsideDropdownHandler
          )
    },
    clickOutsideDropdownHandler(event) {
      const isClickInside = this.$refs.select.contains(event.target)
      this.toggleDropdown(isClickInside)
    },
    toggleInputFocusedState(state) {
      this.input.focus = state
    },
    onInputFocus() {
      this.toggleInputFocusedState(true)
      this.toggleDropdown(true)
    },
    onInputBlur() {
      this.toggleInputFocusedState(false)
    },
    onInput(e) {
      const inputValue = parseInt(e.target.value)
      if (inputValue >= this.input.min && inputValue <= this.input.max)
        this.selectFontSize(inputValue)
    },
    isSelectedFontSize(fontSize) {
      return fontSize === this.selectedFontSize
    },
    selectFontSize(fontSize) {
      this.$emit('onSelectFontSize', fontSize)
      !this.isInputFocused && this.toggleDropdown(false)
    },
  },
}
</script>

<style lang="scss" scoped>
.select {
  $self: &;
  position: relative;
  &__input {
    width: 50px;
    height: 24px;
    padding: 0 5px;
    margin: 0;
    background: $white;
    border: 1px solid $primary;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    @include font-size(14px);
    cursor: pointer;
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
  &__dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 100%;
    background-color: $white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transform: translateY(5px);
    transition: opacity 0.3s ease-in-out 0s, transform 0.3s ease-in-out 0s;
    &-list {
      padding: 5px 10px;
      &-item {
        margin: 5px 0;
      }
    }
    &-btn {
      width: 100%;
      background: none;
      border: 0;
      border-radius: 0;
      padding: 5px 0;
      color: $text-dark;
      @include font-size(14px);
      line-height: 1;
      text-align: left;
      white-space: nowrap;
      cursor: pointer;
      transition: color 0.3s ease-in-out 0s;
      will-change: color;
      &.is-active,
      &:hover {
        color: $primary;
      }
    }
  }
  &.is-open {
    #{$self}__current {
      &-arrow {
        transform: translateY(-50%) rotate(180deg);
      }
    }
    #{$self}__dropdown {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }
}
</style>
