<template>
  <div ref="select" class="select" :class="{ 'is-open': dropdownOpen }">
    <button
      ref="fontFamilyDropdownTrigger"
      class="select__current"
      :style="fontFamilyStyle(selectedFontName)"
      title="Font"
      @click="toggleDropdown(true)"
    >
      <span class="select__current-value">
        {{ selectedFontName }}
      </span>
      <font-awesome-icon class="select__current-arrow" icon="chevron-down" />
    </button>
    <div class="select__dropdown">
      <ul class="select__dropdown-list">
        <li
          v-for="(font, index) in fonts"
          :key="index"
          class="select__dropdown-list-item"
        >
          <button
            class="select__dropdown-btn"
            :style="fontFamilyStyle(font.name)"
            @click="selectFont(font)"
          >
            {{ font.name }}
          </button>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ToolbarFontFamilySelect',
  props: {
    fonts: {
      type: Array,
      default: () => [],
    },
    selectedFont: {
      type: Object,
      default: () => {},
    },
  },
  data: () => ({
    dropdownOpen: false,
  }),
  computed: {
    selectedFontName() {
      return this.selectedFont.name
    },
  },
  watch: {
    dropdownOpen(state) {
      this.clickOutsideDropdownListener(state)
    },
  },
  methods: {
    toggleDropdown(state) {
      this.dropdownOpen = state
    },
    clickOutsideDropdownListener(action) {
      action
        ? document.addEventListener('click', this.clickOutsideDropdownHandler)
        : document.removeEventListener(
            'click',
            this.clickOutsideDropdownHandler
          )
    },
    clickOutsideDropdownHandler(event) {
      const isClickInside = this.$refs.select.contains(event.target)
      this.toggleDropdown(isClickInside)
    },
    fontFamilyStyle(fontName) {
      return `font-family: ${fontName}`
    },
    selectFont(font) {
      this.$emit('onSelectFont', font)
      this.toggleDropdown(false)
    },
  },
}
</script>

<style lang="scss" scoped>
.select {
  $self: &;
  position: relative;
  &__current {
    width: 120px;
    height: 24px;
    padding: 2px 15px 2px 5px;
    margin: 0;
    background: $white;
    border: 1px solid $primary;
    border-radius: 0;
    text-align: left;
    cursor: pointer;
    &-value {
      display: block;
      color: $text-dark;
      @include font-size(14px);
      line-height: 1;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &-arrow {
      position: absolute;
      top: 50%;
      right: 5px;
      transform: translateY(-50%);
      @include font-size(12px);
      color: $text-dark;
      transition: transform 0.3s ease-in-out 0s;
    }
  }
  &__dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 100%;
    background-color: $white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transform: translateY(5px);
    transition: opacity 0.3s ease-in-out 0s, transform 0.3s ease-in-out 0s;
    &-list {
      padding: 5px 10px;
      &-item {
        margin: 5px 0;
      }
    }
    &-btn {
      width: 100%;
      background: none;
      border: 0;
      border-radius: 0;
      padding: 5px 0;
      color: $text-dark;
      @include font-size(14px);
      line-height: 1;
      text-align: left;
      white-space: nowrap;
      cursor: pointer;
      transition: color 0.3s ease-in-out 0s;
      will-change: color;
      &:hover {
        color: $primary;
      }
    }
  }
  &.is-open {
    #{$self}__current {
      &-arrow {
        transform: translateY(-50%) rotate(180deg);
      }
    }
    #{$self}__dropdown {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }
}
</style>
