<template>
  <div ref="select" class="select" :class="{ 'is-open': dropdownOpen }">
    <button
      class="select__toggle"
      title="Add image"
      @click="toggleDropdown(true)"
    >
      <font-awesome-icon class="select__toggle-icon" icon="image" />
    </button>
    <div class="select__dropdown">
      <ul class="select__dropdown-list">
        <li class="select__dropdown-list-item">
          <div class="select__url">
            <label for="image-url" class="select__url-label">
              Enter image from url:
            </label>
            <div class="select__url-control">
              <div class="select__url-control-item">
                <input
                  id="image-url"
                  v-model="imageUrl"
                  type="url"
                  placeholder="Enter image url"
                />
              </div>
              <div class="select__url-control-item">
                <button @click="uploadFromUrl">Upload</button>
              </div>
            </div>
          </div>
        </li>
        <li class="select__dropdown-list-item">
          <div class="select__local">
            <div class="select__local-label">
              Upload from file:
            </div>
            <div class="select__local-control">
              <input id="image-file" type="file" />
              <label for="image-file">Choose file...</label>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ToolbarUploadImageSelect',
  data: () => ({
    dropdownOpen: false,
    imageUrl: '',
  }),
  watch: {
    dropdownOpen(state) {
      this.clickOutsideDropdownListener(state)
    },
  },
  methods: {
    toggleDropdown(state) {
      this.dropdownOpen = state
    },
    clickOutsideDropdownListener(action) {
      action
        ? document.addEventListener('click', this.clickOutsideDropdownHandler)
        : document.removeEventListener(
            'click',
            this.clickOutsideDropdownHandler
          )
    },
    clickOutsideDropdownHandler(event) {
      const isClickInside = this.$refs.select.contains(event.target)
      this.toggleDropdown(isClickInside)
    },
    uploadFromUrl() {
      this.selectImage(this.imageUrl)
    },
    selectImage(imageUrl) {
      this.$emit('onSelectImage', imageUrl)
      this.toggleDropdown(false)
    },
  },
}
</script>

<style lang="scss" scoped>
.select {
  $self: &;
  position: relative;
  &__toggle {
    width: 24px;
    height: 24px;
    padding: 0;
    margin: 0;
    border: 0;
    border-radius: 0;
    background: none;
    color: $black;
    cursor: pointer;
    transition: color 0.3s ease-in-out 0s;
    &-icon {
      width: 100%;
      height: 100%;
    }
    &:hover {
      color: $primary;
    }
  }
  &__url {
    &-label {
      display: inline-block;
      margin-bottom: 5px;
      color: $text-dark;
      @include font-size(14px);
      font-family: 'Roboto Slab', serif;
      font-weight: 400;
    }
    &-control {
      display: flex;
      &-item {
        &:first-of-type {
          flex: 1;
        }
        &:last-of-type {
          flex-shrink: 0;
        }
      }
      input {
        width: 100%;
        height: 30px;
        padding: 0 5px;
        background: $white;
        border: 1px solid $primary;
        border-right: 0;
        color: $info;
        @include font-size(14px);
        font-family: 'Roboto Slab', serif;
        font-weight: 400;
        @include input-placeholder {
          color: rgba(0, 0, 0, 0.2);
          @include font-size(14px);
          font-family: 'Roboto Slab', serif;
          font-weight: 400;
        }
      }
      button {
        height: 30px;
        padding: 0 5px;
        margin: 0;
        background: $white;
        border: 1px solid $primary;
        color: $info;
        @include font-size(14px);
        font-family: 'Roboto Slab', serif;
        font-weight: 400;
        cursor: pointer;
      }
    }
  }
  &__local {
    width: 100%;
    &-label {
      display: inline-block;
      margin-bottom: 5px;
      color: $text-dark;
      @include font-size(14px);
      font-family: 'Roboto Slab', serif;
      font-weight: 400;
    }
    &-control {
      position: relative;
      input {
        position: absolute;
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        z-index: -1;
        & + label {
          display: inline-block;
          width: 100%;
          padding: 7px 5px;
          color: $light;
          background-color: $primary;
          @include font-size(14px);
          font-weight: 400;
          text-overflow: ellipsis;
          text-align: center;
          white-space: nowrap;
          cursor: pointer;
          overflow: hidden;
        }
        &:focus + label {
          outline: 1px dotted #000;
          outline: -webkit-focus-ring-color auto 5px;
        }
      }
    }
  }
  &__dropdown {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 250px;
    background-color: $white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transform: translate(-50%, 5px);
    transition: opacity 0.3s ease-in-out 0s, transform 0.3s ease-in-out 0s;
    &-list {
      padding: 5px 10px;
      &-item {
        margin: 5px 0 10px;
      }
    }
    &-btn {
      width: 100%;
      background: none;
      border: 0;
      border-radius: 0;
      padding: 5px 0;
      color: $text-dark;
      @include font-size(14px);
      line-height: 1;
      text-align: left;
      white-space: nowrap;
      cursor: pointer;
      transition: color 0.3s ease-in-out 0s;
      will-change: color;
      &:hover {
        color: $primary;
      }
    }
  }
  &.is-open {
    #{$self}__toggle {
      color: $primary;
    }
    #{$self}__dropdown {
      opacity: 1;
      visibility: visible;
      transform: translate(-50%, 0);
    }
  }
}
</style>
