<template>
  <button
    class="toolbar-button"
    :class="{ 'is-active': isActive }"
    :title="title"
    v-on="eventsListener"
  >
    <font-awesome-icon :icon="icon" />
  </button>
</template>

<script>
export default {
  name: 'ToolbarButton',
  props: {
    title: {
      type: String,
      default: '',
    },
    icon: {
      type: String,
      default: '',
    },
    isActive: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    eventsListener() {
      return Object.assign({}, this.$listeners)
    },
  },
}
</script>

<style lang="scss" scoped>
.toolbar-button {
  height: 20px;
  border: 0;
  padding: 0;
  margin: 0;
  background: none;
  color: $black;
  cursor: pointer;
  @include font-size(16px);
  transition: color 0.3s ease-in 0s;
  &.is-active,
  &:hover {
    color: $primary;
  }
}
</style>
