<template>
  <div class="home">
    <editor />
  </div>
</template>

<script>
import Editor from '@/components/editor/Editor'

export default {
  name: 'Home',
  components: {
    Editor,
  },
}
</script>

<style lang="scss" scoped>
.home {
  padding: 30px 0;
}
</style>
