<template>
  <div id="app" class="app">
    <app-header />
    <div class="app-container">
      <page-transition>
        <router-view />
      </page-transition>
    </div>
    <vue-progress-bar></vue-progress-bar>
  </div>
</template>

<script>
import AppHeader from '@/components/layout/TheHeader'

export default {
  components: {
    AppHeader,
  },
  metaInfo: {
    title: 'Home',
    titleTemplate: 'Text Editor | %s',
  },
  created() {
    this.$Progress.start()
    this.$router.beforeEach((to, from, next) => {
      if (to.meta.progress !== undefined) {
        let meta = to.meta.progress
        this.$Progress.parseMeta(meta)
      }
      this.$Progress.start()
      next()
    })
    this.$router.afterEach(() => {
      this.$Progress.finish()
    })
  },
  mounted() {
    this.$Progress.finish()
  },
}
</script>

<style lang="scss">
@import 'styles/style';
</style>
